@charset "UTF-8";

#content{
	padding-top: 150px;
	padding-left: 100px;
	position: absolute;
    top:200px;
    left:200px;
    transform: translate(-50%, -50%);                                                                   
    font-size: x-small;
    font-style: italic;
    color: black;
    z-index: 1;
    text-align: center;
}
.t1{
	width: 100%;
	height: 100%;
	text-align: left;
}
.t1:hover{
	background: pink;
	font-weight: bold;
	font-style: italic;
}
